.aboutSection {
  display: block;
}

.aboutDiv {
  position: relative;
  padding: 0 32px 0 32px;
}

.aboutTitle {
  color: #777777;
  letter-spacing: 0.3em;
  top: 30px;
  right: -20%;
  text-transform: uppercase;
  font-size: 6vw;
  line-height: 1em;
  position: relative;
  z-index: 3;
}

.aboutProjectDiv {
  display: flex;
}

.aboutProjectPic {
  background-color: white;
  width: 50%;
  flex: 1;
  position: relative;
  z-index: 2;
  border-radius: 1%;
}

.aboutDescription {
  direction: rtl;
  text-align: right;
  justify-content: flex-end;
  flex: 1.5;
  width: 50%;
  z-index: 2;
  padding: 0% 5% 0% 0%;
}

.aboutBox {
  height: 90%;
  position: absolute;
  top: -1vh;
  left: 0;
  width: 70%;
  z-index: 1;
  display: block;
  background-color: #dbe9ff;
  border-radius: 1%;
}

.aboutDescParagraph {
  color: #777777;
  padding: 0 5% 0 0;
}

.aboutParagraphText {
  width: 20em;
  height: 35%;
  overflow: auto;
}

@media only screen and (max-width: 850px) {
  .aboutSection {
    margin: -90px 0px;
  }
  .aboutBox {
    display: none;
  }
  .aboutTitle {
    text-align: center;
    color: #777777;
    letter-spacing: 0.3em;
    top: -70px;
    left: 0;
    text-transform: uppercase;
    font-size: 8vw;
    line-height: 1em;
    position: relative;
    z-index: 3;
  }
  .aboutDescription {
    flex: 1.5;
    width: 100%;
    z-index: 2;
    padding: 0% 0% 0% 0%;
    text-align: center;
  }
  .aboutProjectDiv {
    display: block;
    text-align: center;
  }
  .aboutProjectPic {
    width: 50%;
    flex: 1;
    /* margin-left: 48px; */
    position: relative;
    z-index: 2;
    border-radius: 1%;
  }
  .aboutDescParagraph {
    color: #777777;
    padding: 0%;
  }
  .aboutParagraphText {
    width: 100%;
  }
}
